
/* -------- BISOM ------- */

/* first body child */
.login-pf-page{
    display: flex;
    height: 100vh;
    align-items: center;
    background-color: #4458BE;
}

/* first login-pf-page children: kc-header */
.login-pf-page #kc-header {
    display:none
}

/* second login-pf-page children: Card Sign in to your account */
.login-pf-page .card-pf {
    color: #003662;
    height: fit-content;
    margin: 0 auto;
    box-shadow: var(--pf-global--BoxShadow--lg);
    padding: 0 20px;
    background: #FFF;
}

@media screen and (min-width: 900px) {
    /* card */
    .card-pf {
        border-radius: 5px;
        min-width: 800px;
        max-width: 1000px;
        display: grid;
    }
    
    /* left card */
    .card-pf .login-pf-header{
        grid-column: 1 / 2;
        grid-row: 1;
    }

    .card-pf .login-pf-header #kc-page-title {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-pf #kc-content{
        grid-column: 2 / 2;
        grid-row: 1;
        width: 400px;
        padding: 50px 0;
    }
}

@media screen and (max-width: 900px) {
    .card-pf {
        min-width: 50vw;
        max-width: 90vw;
    }

    #kc-page-title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
} 

/* logo BISOM */
.card-pf .login-pf-header #kc-page-title #headerLogo{
    width: 50%;
    max-width: 50vh;
}

/* sign in button */
#kc-login{
    background-color: #003662;
    border-radius: 4px;
}

/* title : "or sign in with" */
#kc-social-providers h4 {
    text-align: center;
}
/* list des boutons autre moyen de connection */
#kc-social-providers ul{
    width: 220px;
    margin: 0 auto;
    padding: 20px;
}

/* input */
.pf-c-form-control{
    border: 2px #003662 solid;
    border-radius: 4px;
}
